@model IEnumerable<CRESME.Data.Quiz>

@{
    ViewData["Title"] = "Assigned CRESMES";
}


<br />


<br />


<div class="table-responsive">

    <table class="table table-bordered table-secondary table-hover table-sm" id="dataTableData" width="100%" cellspacing="0">


        <thead>
            <tr>
                <th class="table-dark">
                    CRESME
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Block)
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Course)
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Term)
                </th>

                

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>


                @*DO NOT delete the empty tags below, they are needed for dataTable column counts to be equal between "thead" and "tbody"*@
                <th class ="table-dark"></th>
                
                


            </tr>
        </thead>




        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Block)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>

                    

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                   
                   


                    <td>
                        <form asp-controller="Quiz" asp-action="TakeQuiz" asp-route-QuizId="@item.QuizId">
                            <button type="submit" class="btn btn-sm btn-success">
                                <i class="fa-solid fa-circle-play"></i>
                                Start
                            </button>
                        </form>
                    </td>


                </tr>
            }

        </tbody>

    </table>

</div>



<style>

    .table-bordered th, .table-bordered td {
        border: 1px solid grey !important
    }

</style>

<br />


@section scripts
    {
    <script src="~/js/datatable_file.js"></script>
}


