@model IEnumerable<CRESME.Data.Quiz>

@{
    ViewData["Title"] = "Student View";
}

<h1>Student View</h1>


@*<form asp-controller="Quiz" asp-action="CreateQuiz">
    <button type="submit" class="btn btn-md btn-primary">
        <i class="fa-solid fa-square-plus"></i>
        Create New Quiz
    </button>
</form>
<br />
<br />*@


<br />

<div class="table-responsive">

    <table class="table table-hover table-bordered" id="dataTableData" width="100%" cellspacing="0">


        <thead>
            <tr>
                <th>
                    CRESME
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Block)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Course)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Term)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Published)
                </th>



                @*DO NOT delete the empty tags below, they are needed for dataTable column counts to be equal between "thead" and "tbody"*@
                <th></th>
                


            </tr>
        </thead>




        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Block)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>


                    <td>
                        <form asp-controller="Quiz" asp-action="TakeQuiz" asp-route-QuizId="@item.QuizId">
                            <button type="submit" class="btn btn-sm btn-success">
                                <i class="fa-solid fa-circle-play"></i>
                                Start
                            </button>
                        </form>
                    </td>



                </tr>
            }

        </tbody>

    </table>

</div>





@section scripts
    {
    <script src="~/js/datatable_file.js"></script>
}


