@model IEnumerable<CRESME.Data.Quiz>

@{
    ViewData["Title"] = "Your CRESMES";
}

<div id="flexbox" aria-live="polite" aria-atomic="true" class="pt-5 d-flex justify-content-end align-items-end w-100">

    @if (TempData["AlertMessage"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2" alt="UCF Logo">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger">
                @TempData["AlertMessage"]
            </div>
        </div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2" alt="UCF Logo">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-success" style="color:white">
                @TempData["Success"]
            </div>
        </div>
    }



</div>


<br />

<form asp-controller="Quiz" asp-action="CreateQuiz">
    <button type="submit" class="btn btn-md btn-primary">
        <i class="fa-solid fa-square-plus"></i>
        Create New CRESME
    </button>
</form>

<br />

<div class="table-responsive">

    <table class="table table-bordered table-secondary table-hover table-sm" id="dataTableData" width="100%" cellspacing="0" style="margin-bottom:70px;">


        <thead>
            <tr>
                <th class="table-dark">
                    CRESME
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Block)
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Course)
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Term)
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>

                <th class="table-dark">
                    Shuffle
                </th>

                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Published)
                </th>

                <th class="table-dark">
                    Practice
                </th>

                



                @*DO NOT delete the empty tags below, they are needed for dataTable column counts to be equal between "thead" and "tbody"*@
                <th class="table-dark"></th>
                <th class="table-dark"></th>
                <th class="table-dark"></th>


            </tr>
        </thead>




        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Block)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ShuffleEnabled)
                    </td>

                    <td>

                        @if (item.Published == "Yes")
                        {
                            <i class="fa-solid fa-circle-check fa-2xl" style="color: #03ba00;"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #ff0000;"></i>
                        }
                    </td>

                    <td>

                        @if (item.FeedBackEnabled == "Yes")
                        {
                            <i class="fa-solid fa-circle-check fa-2xl" style="color: #03ba00;"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #ff0000;"></i>
                        }
                    </td>
                    


                    <td>
                        <form asp-controller="Admin" asp-action="QuizDetails" asp-route-QuizName="@item.QuizName" method="post">
                            <button type="submit" class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-circle-info" style="color: #000000;"></i>
                                Details
                            </button>
                        </form>
                    </td>




                    <td>
                        <form asp-controller="Admin" asp-action="InstructorEditQuiz" asp-route-QuizId="@item.QuizId">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa-solid fa-user-pen"></i>
                                Edit
                            </button>
                        </form>
                    </td>


                    <td>
                        <form asp-controller="Admin" asp-action="InstructorDeleteQuiz" asp-route-QuizId="@item.QuizId" method="post" >
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to DELETE this user?')">
                                <i class="fa-solid fa-trash-can"></i>
                                Delete
                            </button>
                        </form>
                    </td>



                </tr>
            }

        </tbody>

    </table>

</div>



<style>

    .table-bordered th, .table-bordered td {
        border: 1px solid grey !important
    }

</style>


@section scripts
    {
    <script src="~/js/datatable_file.js"></script>

    <script>

        window.onload = function () {
            // your code here
            $('.toast').toast('show');
        };
    </script>
}




