@model CRESME.Data.UserQuizUnion
@{

    ViewData["Title"] = "Edit CRESME";
    //list of of each students course column
    var courses = Model.users.Select(x => x.Course).Distinct().Where(x => x != null).ToList();
    var terms = Model.users.Select(x => x.Term).Distinct().Where(x => x != null).ToList();

    //parse each string in courses/term separated by comma into individual strings 
    //trim and return only unique elements 
    List<string> UniqueCourses = courses.SelectMany(s => s.Split(',')).Select(e => e.Trim()).Distinct().ToList();
    List<string> UniqueTerms = terms.SelectMany(s => s.Split(',')).Select(e => e.Trim()).Distinct().ToList();

    // list of instructors
    var instructors = Model.users.Where(x => x.Role == "Instructor");


}



<div id="flexbox" aria-live="polite" aria-atomic="true" class="pt-5 d-flex justify-content-end align-items-end w-100">

    @if (TempData["AlertMessage"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger">
                @TempData["AlertMessage"]
            </div>
        </div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-success" style="color:white">
                @TempData["Success"]
            </div>
        </div>
    }

    
    
</div>




<form id="Form1" asp-controller="Admin" asp-action="InstructorUpdateQuiz" method="post" enctype="multipart/form-data">
    <div class="d-flex align-items-center min-vh-100" style="margin-bottom:70px;">
        <div class="container border bg-light rounded" style="width: 50%;">
            <div class="row gx-5 justify-content-center gy-2">

                @{int numOfImages = Model.quiz.ImageCount;}
                <input type="hidden" value=@numOfImages id="NumImages">

                <div class="w-100"></div>
                <h4 class="col-6 text-center" style="font-weight: bold;">Edit CRESME Form</h4>


                <div class="w-100"></div>

                <div class="col-10" style="height: 5px; background-color: #f1c400;"></div>

                <div class="w-100"></div>
                <input class="col-4  input-field" type="text" name="QuizName" value="@Model.quiz.QuizName" placeholder="Enter CRESME Name" required style="background-color:#FCF5D8;">

                <div class="w-100"></div>

                <input class="col-4  input-field" type="text" name="PatientIntro" value="@Model.quiz.PatientIntro" placeholder="Enter Chief Complaint" required style="background-color:#FCF5D8;">
                <div class="w-100"></div>

                <input class="col-4  input-field" type="text" name="AuthorNames" placeholder="Enter Authors' Names" value="@Model.quiz.AuthorNames" required style="background-color:#FCF5D8;">
                <div class="w-100"></div>

                <div class="col-5 text-center" style="font-weight: bold;">Start Date</div>
                <div class="col-1 text-center"></div>
                <div class="col-5 text-center" style="font-weight: bold;">End Date</div>
                <div class="w-100"></div>

               

                <input type="datetime-local" class="col-5 input-field" id="startDate" name="StartDate" value="@Model.quiz.StartDate.ToString("yyyy-MM-ddTHH:mm:ss")" required style="background-color:#FCF5D8;">
                <div class="col-1 text-center">-</div>
                <input type="datetime-local" class="col-5 input-field" id="endDate" name="EndDate" value="@Model.quiz.EndDate.ToString("yyyy-MM-ddTHH:mm:ss")" runat="server" required style="background-color:#FCF5D8;">
                <div class="w-100"></div>




                @if (Model.quiz.Published == "Yes")
                {
                    <div class="col-3" style="font-weight: bold;">Published</div>
                    <input class="col-1" type="checkbox" id="Published" name="Published" value="1" checked>
                    <div class="w-100"></div>
                }
                else
                {
                    <div class="col-3" style="font-weight: bold;">Published</div>
                    <input class="col-1" type="checkbox" id="Published" name="Published" value="1">
                    <div class="w-100"></div>
                }


                @if (Model.quiz.FeedBackEnabled == "Yes")
                {
                    <div class="col-3" style="font-weight: bold;">Feedback</div>
                    <input class="col-1" type="checkbox" id="FeedBackEnabled" name="FeedBackEnabled" value="1" checked>
                    <div class="w-100"></div>
                }
                else
                {
                    <div class="col-3" style="font-weight: bold;">Feedback</div>
                    <input class="col-1" type="checkbox" id="FeedBackEnabled" name="FeedBackEnabled" value="1">
                    <div class="w-100"></div>
                }

                @if (Model.quiz.ShuffleEnabled == "Yes")
                {
                <div class="col-3" style="font-weight: bold;">ShuffleEnabled</div>
                <input class="col-1" type="checkbox" id="ShuffleEnabled" name="ShuffleEnabled" value="1" checked>
                <div class="w-100"></div>
                }
                else
                {
                    <div class="col-3" style="font-weight: bold;">ShuffleEnabled</div>
                <input class="col-1" type="checkbox" id="ShuffleEnabled" name="ShuffleEnabled" value="1">
                <div class="w-100"></div>
                }




                <div class="col-4" style="font-weight: bold;">Number of Columns:</div>


                @if(Model.quiz.NumColumns == 4)
                {
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="NumColumns" id="NumColumns1" value="4" checked>
                        <label class="form-check-label bg-light" for="NumColumns">4</label>
                    </div>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="NumColumns" id="NumColumns2" value="5">
                        <label class="form-check-label bg-light" for="NumColumns">5</label>
                    </div>
                    <div class="w-100"></div>
                }
                else
                {
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="NumColumns" id="NumColumns1" value="4" >
                        <label class="form-check-label bg-light" for="NumColumns">4</label>
                    </div>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="NumColumns" id="NumColumns2" value="5" checked>
                        <label class="form-check-label bg-light" for="NumColumns">5</label>
                    </div>
                    <div class="w-100"></div>
                }




                <div class="col-10" style="height: 2px; background-color: black"></div>
                <div class="w-100"></div>

                <button type="button" id="imageButton" class="col-4 btn btn-link" onclick="addImage()">+Image to Table Cell</button>
                <div class="w-100"></div>

                @{string[] imagenames = {Model.quiz.Image0, Model.quiz.Image1, Model.quiz.Image2, Model.quiz.Image3, Model.quiz.Image4, Model.quiz.Image5, Model.quiz.Image6, Model.quiz.Image7, Model.quiz.Image8, Model.quiz.Image9};}
                @{
                    string[] alt = { Model.quiz.Image0Alt, Model.quiz.Image1Alt, Model.quiz.Image2Alt, Model.quiz.Image3Alt, Model.quiz.Image4Alt, Model.quiz.Image5Alt, Model.quiz.Image6Alt, Model.quiz.Image7Alt, Model.quiz.Image8Alt, Model.quiz.Image9Alt };
                }

                @{
                    string[] trueImageNames = new string[10];

                    for(int j = 0; j<10; j++)
                    {
                        if (imagenames[j] != "")
                            trueImageNames[j] = imagenames[j][16..^40];
                        else
                            break;
                    };

               }

                @for (int i = (Model.quiz.ImageCount-1); i>=0; i--)
                {
                    string vrdivstring = "vrDiv" + i;

                    <div class="w-100" id=@vrdivstring onload="incrementI()"></div>

                    string deletestring = "" + i;

                    //<button class="custom_btn col-2" onclick="deleteButton(this.id)" id=@deletestring>Delete</button>

                    string hrdiv1string = "hrDiv1" + i;

                    <div class="col-1" id=@hrdiv1string></div>

                    string imagestring = "imageFile" + i;
                    string labelstring = "imageLabel" + i;

                    <input type="file" name=@imagestring  id=@imagestring accept="image/*" onchange="checkForImage(this.id)" style="display: none;">
                    <label class="col-4 row justify-content-center border" for=@imagestring id=@labelstring style="border-color: black !important;"><i class="text-center fa-solid fa-image"></i></label>

                    
                    string hrdiv2string = "hrDiv2" + i;

                    <div class="col-1" id=@hrdiv2string></div>

                    string ImagePos = "ImagePos" + i;
                    string[] names = { "PE 1", "PE 2", "PE 3", "PE 4", "PE 5", "Data A", "Data B", "Data C", "Data D", "Data E" };
                    string[] values = { "1", "2", "3", "4", "5", "A", "B", "C", "D", "E" };
                    string[] position = {Model.quiz.ImagePos0, Model.quiz.ImagePos1, Model.quiz.ImagePos2, Model.quiz.ImagePos3, Model.quiz.ImagePos4, Model.quiz.ImagePos5, Model.quiz.ImagePos6, Model.quiz.ImagePos7, Model.quiz.ImagePos8, Model.quiz.ImagePos9}; 


                    <select id=@ImagePos class="form-select col-1" aria-label="Default select example" name=@ImagePos style="width: 15%; height: 10%; text-align-last:center;">
                        @for(int j = 0; j<9; j++)
                        {
                            string imagePos = "Image" + j + "Pos";

                            Console.Write(position[j]);
                            Console.Write(values[j]);

                            if (position[i] == values[j]) {
                                <option value=@values[j] name=@imagePos selected>@names[j]</option>}
                            else{
                                <option value=@values[j] name=@imagePos>@names[j]</option>};

                        }      
                    </select>


                    string imgCheckMark = "imgCheckMark" + i;

                    <i class="col-1 fa-solid fa-check" id=@imgCheckMark></i>

                    string vrdiv1string = "vrDiv1" + i;

                    <div class="w-100" id=@vrdiv1string></div>

                    string imageAlt = "Image" + i + "Alt";
                    string altText = "altText" + i;

                    <input class="col-6  input-field" type="text" name=@imageAlt id=@altText value=@alt[i] placeholder="Enter Alt Text">

                    string newBreak1 = "newBreak1" + i;

                    <div class="w-100" id=@newBreak1></div>

                    string imageName = "imageName" + i;
       
                    <div class="col-12 text-center" id=@imageName style="font-weight: bold;">@trueImageNames[i]</div>

                     string newBreak2 = "newBreak2" + i;

                    <div class="w-100" id=@newBreak2></div>

                    string breakPoint = "breakPoint" + i;

                    <div class="col-8" id=@breakPoint style="height: 5px; background-color: rgb(241, 196, 0);"></div>
                    
                }



                <div class="col-10" style="height: 2px; background-color: black"></div>
                <div class="w-100"></div>

                <div class="col-4 text-center" style="font-weight: bold;">Upload Cover Image</div>
                <div class="w-100"></div>


                <input type="file" name="CoverImage" id="CoverImage" accept="image/*" style="display: none;"/>

                <label  class="col-4 row justify-content-center border" id="coverLabel" for="CoverImage" style="border-color: black !important;">
                    <i class="text-center fa-solid fa-panorama"></i>
                </label>
                <i class="col-1 fa-solid fa-check" id="coverCheckMark"></i>
                <div class="w-100"></div>
                <div class="col-6 text-center" id="coverName" style="font-weight: bold;">@Model.quiz.CoverImage[16..^40]</div>
                <div class="w-100"></div>

                
                 <div class="col-4 text-center" style="font-weight: bold;">Upload Legend Photo</div>
                <div class="w-100"></div>
                <input type="file" name="Legend" id="Legend"  accept="image/*" style="display: none;"  />
                <label class="col-4 row justify-content-center border" id="legendLabel" for="Legend" style="border-color: black !important;">
                    <i class="text-center fa-solid fa-flag"></i>
                </label>
                
                <i class="col-1 fa-solid fa-check" id="legendCheckMark"></i>
                <div class="w-100"></div>
                <div class="col-6 text-center" id="legendName" style="font-weight: bold;">@Model.quiz.Legend[16..^40]</div>
                <div class="w-100"></div>


                <div class="col-4 text-center" style="font-weight: bold;">Upload New Excel File</div>
                <div class="w-100"></div>

                <input type="file" name="ExcelFileUpload" id="excelButton" accept=".xlsx" style="display: none;"  />
                <label class="col-4 row justify-content-center border" id="excelLabel" for="excelButton" style="border-color: black !important;">
                    <i class="text-center fa-sharp fa-solid fa-upload"></i>
                </label>

                <i class="col-1 fa-solid fa-check" id="excelCheckMark"></i>
                <div class="w-100"></div>
                <div class="col-6 text-center" id="excelFileName" style="font-weight: bold;">@Model.quiz.ExcelName</div>
                <div class="w-100"></div>

                <div class="col-4 text-center" style="font-weight: bold;">Term</div>
                <div class="col-4 text-center" style="font-weight: bold;">Block</div>
                <div class="col-4 text-center" style="font-weight: bold;">Courses</div>

                <select id="Term" name="Term" class="form-select col-3" aria-label="Default select example" style="text-align-last: center; width:25%; height: 15%" required>
                    <option value="N/A" selected>N\A</option>
                    @foreach (var term in UniqueTerms)
                    {   
                        if(term == Model.quiz.Term)
                        {
                            <option value=@term selected>@term</option>
                        }
                        else
                        {
                            <option value=@term>@term</option>       
                        }
                    }
                </select>
                <div class="col-1"></div>

                <select id="Block" name="Block" class="form-select col-3" multiple aria-label="Default select example" style="text-align-last: center; width:25%;" required>
                    @for(int i = 0; i<=12; i++)
                    {
                        if("B" + i == Model.quiz.Block)
                        {
                            <option value=@("B" + i) selected>@i</option>
                        }
                        else
                        {
                            <option value=@("B" + i)>@i</option>                            
                        }

                    }
                </select>
                <div class="col-1"></div>

                <select id="Course" name="Course" class="form-select col-3" aria-label="Default select example" style="text-align-last: center; width:25%; height: 15%" required>
                    <option value="N/A" selected>N\A</option>
                    @foreach (var course in UniqueCourses)
                    {
                        if (course == Model.quiz.Course)
                        {
                            <option value=@course selected>@course</option>
                        }
                        else
                        {
                            <option value=@course>@course</option>
                        }
                    }
                </select>
                <div class="w-100"></div>

                @if (User.IsInRole("Admin")) {
                    <div class="text-center" style="font-weight: bold;">Instructor</div>

                    <select id="Instructor" name="InstructorID" class="form-select col-3" aria-label="Default select example" style="text-align-last: center; width:25%; height: 15%" required>
                        <option value="N/A" selected>N\A</option>
                        @foreach (var item in instructors)
                        {
                            if (item.UserName == Model.quiz.InstructorID)
                            {
                                <option value=@item selected>@item.Name</option>
                            }
                            else
                            {
                                <option value=@item>@item.Name</option>
                            }
                        }
                    </select>
                    <div class="w-100"></div>
                }

                <input type="hidden" id="QuizId" name="QuizId" value="@Model.quiz.QuizId"  />

                <button onclick="validate()" type="submit" class="btn custom_btn col-5">Edit CRESME</button>
                <div class="w-100"></div>

            </div>
        </div>
    </div>
</form>



<style>

    .container {
        border-color: #F1C400 !important;
        border-radius: 20px !important;
    }

    .custom_btn {
        background-color: #F1C400;
        font-weight: bold;
    }

    .upload-btn {
        border-color: #F1C400 !important;
        background: transparent;
    }

    .input-field {
        border-color: #F1C400;
    }

    label {
        background-color: white;
        padding: 0.5rem;
        border-color: #F1C400 !important;
        cursor: pointer;
    }

</style>



<script>


    
    var i = document.getElementById("NumImages").value;
    var j = 0;
    var fileButton = document.getElementById("excelButton");
    var legendButton = document.getElementById("Legend");
    var coverButton = document.getElementById("CoverImage");


    

    function CheckCoverImage()
    {
        if(coverButton.value == "")
        {
            defaultImg =  document.getElementById("defaultImg");
            coverButton.ariaValueMax = defaultImg;
        }
    }

   
      

        
    function deleteButton(k) {
        var deleteButton = document.getElementById(k);
        var inputButton = document.getElementById('imageFile' + k);
        var inputLabel = document.getElementById('imageLabel' + k);
        var list = document.getElementById('ImagePos' + k);
        var vrDiv = document.getElementById('vrDiv' + k);
        var hrDiv1 = document.getElementById('hrDiv1' + k);
        var hrDiv2 = document.getElementById('hrDiv2' + k);
        var altText = document.getElementById('altText' + k);
        var checkMark = document.getElementById('imgCheckMark' + k);
        var imageName = document.getElementById('imageName' + k);
        var break1 = document.getElementById('newBreak1' + k);
        var break2 = document.getElementById('newBreak2' + k);
        var vrDiv1 = document.getElementById('vrDiv1' + k);
        var breakPoint = document.getElementById('breakPoint' + k);
        

        deleteButton.remove();
        inputButton.remove();
        inputLabel.remove();
        list.remove();
        vrDiv.remove();
        hrDiv1.remove();
        hrDiv2.remove();
        altText.remove();
        vrDiv1.remove();

        if (checkMark != null) {

            checkMark.remove();
            imageName.remove();
            break1.remove();
            break2.remove();

        }

        breakPoint.remove();

        k++;

        while(k < i)
        {
            var deleteButton = document.getElementById('' + k);
            deleteButton.setAttribute("id", '' + (k-1));


            var newDiv = document.getElementById('vrDiv' + k);
            newDiv.setAttribute("id", 'vrDiv' + (k - 1));


            var hrDiv1 = document.getElementById('hrDiv1' + k);
            hrDiv1.setAttribute("id", 'hrDiv1' + (k-1));

            var hrDiv2 = document.getElementById('hrDiv2' + k);
            hrDiv2.setAttribute("id", 'hrDiv2' + (k-1));



            var newfile = document.getElementById('imageFile' + k);
            newfile.setAttribute("name", 'imageFile' + (k-1));
            newfile.setAttribute("id", 'imageFile' + (k-1));



            var select = document.getElementById('ImagePos' + k);
            select.setAttribute("id", 'ImagePos' + (k-1));
            select.setAttribute("name", 'ImagePos' + (k-1));



            var altText = document.getElementById('altText' + k);
            altText.setAttribute("name", 'Image' + (k-1) + 'Alt');
            altText.setAttribute("id", 'altText' + (k-1));


            var newlabel = document.getElementById('imageLabel' + k);
            newlabel.setAttribute("for", 'imageFile' + (k-1));
            newlabel.setAttribute("id", 'imageLabel' + (k-1));


            var newDiv1 = document.getElementById('vrDiv1' + k);
            newDiv1.setAttribute("id", 'vrDiv1' + (k-1));

            var checkForI = document.getElementById("imgCheckMark" + k);

            if (checkForI != null) {

                var newi = document.getElementById("imgCheckMark" + k);
                newi.setAttribute("id", "imgCheckMark" + (k-1));

                var newBreak = document.getElementById('newBreak1' + k);
                newBreak.setAttribute("id", 'newBreak1' + (k-1));

                var newdiv = document.getElementById('imageName' + k);
                newdiv.setAttribute("id", 'imageName' + (k-1));

                newBreak.after(newdiv);

                var newBreak1 = document.getElementById('newBreak2' + k);
                newBreak1.setAttribute("id", 'newBreak2' + (k-1));


            }

            var breakPoint = document.getElementById('breakPoint' + k);
            breakPoint.setAttribute("id", 'breakPoint' + (k - 1));

            k++;
        }

        i--;
    }

    function addImage() {

        if(i <10){
        var deleteButton = document.createElement("button");
        deleteButton.setAttribute("class", 'custom_btn col-2');
        deleteButton.setAttribute("onclick", 'deleteButton(this.id)');
        deleteButton.setAttribute("id", '' + i);
        deleteButton.innerHTML = "Delete";


        var newDiv = document.createElement("div");
        newDiv.setAttribute("class", 'w-100');
        newDiv.setAttribute("id", 'vrDiv' + i);


        var hrDiv1 = document.createElement("div");
        hrDiv1.setAttribute("class", 'col-1');
        hrDiv1.setAttribute("id", 'hrDiv1' + i);

        var hrDiv2 = document.createElement("div");
        hrDiv2.setAttribute("class", 'col-1');
        hrDiv2.setAttribute("id", 'hrDiv2' + i);


        var imageButton = document.getElementById("imageButton");

        var newfile = document.createElement("input");
        newfile.setAttribute("type", 'file');
        newfile.setAttribute("name", 'imageFile' + i);
        newfile.setAttribute("id", 'imageFile' + i);
        newfile.setAttribute("accept", 'image/*');
        newfile.setAttribute("onchange", 'checkForImage(this.id)');
        newfile.style.display = "none";


        imageButton.after(newDiv);
        newDiv.after(deleteButton);
        deleteButton.after(hrDiv1);
        hrDiv1.after(newfile);
        newfile.after(hrDiv2);

        var select = document.createElement("select");
        select.setAttribute("class", 'form-select col-1');
        select.setAttribute("aria-label", 'Default select example');
        select.setAttribute("id", 'ImagePos' + i);
        select.setAttribute("name", 'ImagePos' + i);
        select.style.width = "15%";
        select.style.height = "10%";
        select.style.textAlignLast = "center"

        var options = ["PE 1", "PE 2", "PE 3", "PE 4", "PE 5", "Data A", "Data B", "Data C", "Data D", "Data E"];

        options.forEach((element, key) => {
            select[key] = new Option(element, key);
            select[key].setAttribute("value", element);
            select[key].setAttribute("name", 'Image' + key + 'Pos');
        });

        options = ["1", "2", "3", "4", "5", "A", "B", "C", "D", "E"];

        options.forEach((element, key) => {
            select[key].setAttribute("value", element);
        });

        hrDiv2.after(select);
        imageButton.after(newDiv);

        var altText = document.createElement("input");
        altText.setAttribute("class", 'col-6  input-field');
        altText.setAttribute("type", 'text');
        altText.setAttribute("name", 'Image' + i + 'Alt');
        altText.setAttribute("id", 'altText' + i);
        altText.setAttribute("placeholder", 'Enter Alt Text');


        var newlabel = document.createElement("Label");
        newlabel.setAttribute("class", 'col-4 row justify-content-center border');
        newlabel.setAttribute("for", 'imageFile' + i);
        newlabel.setAttribute("id", 'imageLabel' + i);
        newlabel.style.setProperty("border-color", "black", "important");

        newi = document.createElement("i");
            newi.setAttribute("class", "text-center fa-solid fa-image");
        newlabel.appendChild(newi);

        imageButton.after(newDiv);
        newfile.after(newlabel);

        var newDiv1 = document.createElement("div");
        newDiv1.setAttribute("class", 'w-100');
        newDiv1.setAttribute("id", 'vrDiv1' + i);

        select.after(newDiv1);
        newDiv1.after(altText);

        var breakPoint = document.createElement("div");
        breakPoint.setAttribute("class", 'col-8');
        breakPoint.setAttribute("id", "breakPoint" + i);
        breakPoint.style.height = "5px";
        breakPoint.style.backgroundColor = "#f1c400";

        altText.after(breakPoint); 


            i++;
        }

    }

    function checkForImage(id) {


        var imageButton = document.getElementById(id);

        if (imageButton.value != "") {

            var char = id.slice(-1);
            var j = parseInt(char);

            var checkForI = document.getElementById("imgCheckMark" + j);

            if (checkForI == null) {

                var newi = document.createElement("i");
                newi.setAttribute("class", "col-1 fa-solid fa-check");
                newi.setAttribute("id", "imgCheckMark" + j);

                var newBreak = document.createElement("div");
                newBreak.setAttribute("class", 'w-100');
                newBreak.setAttribute("id", 'newBreak1' + j);

                document.getElementById("ImagePos" + j).after(newi);
                document.getElementById("altText" + j).after(newBreak);

                var newdiv = document.createElement("div");
                newdiv.setAttribute("class", "col-12 text-center");
                newdiv.setAttribute("id", 'imageName' + j);
                newdiv.style.fontWeight = "bold";
                newdiv.innerHTML = imageButton.value.split("\\").pop();


                newBreak.after(newdiv);

                var newBreak1 = document.createElement("div");
                newBreak1.setAttribute("class", 'w-100');
                newBreak1.setAttribute("id", 'newBreak2' + j);

                newdiv.after(newBreak1)
            }
            else
            {
                var newdiv = document.getElementById("imageName" + j);
                newdiv.innerHTML = imageButton.value.split("\\").pop();

            }


        }
    }



    coverButton.onchange = function () {

        var checkForI = document.getElementById("coverCheckMark");

        if ((coverButton.value) != "" && (checkForI == null)) {

            var newi = document.createElement("i");
            newi.setAttribute("class", "col-1 fa-solid fa-check");
            newi.setAttribute("id", "coverCheckMark");

            var newBreak = document.createElement("div");
            newBreak.setAttribute("class", 'w-100');

            document.getElementById("coverLabel").after(newi);
            newi.after(newBreak);

            var newdiv = document.createElement("div");
            newdiv.setAttribute("class", "col-6 text-center");
            newdiv.setAttribute("id", "coverName");
            newdiv.style.fontWeight = "bold";
            newdiv.innerHTML = coverButton.value.split("\\").pop();

            newBreak.after(newdiv);

            var newBreak1 = document.createElement("div");
            newBreak1.setAttribute("class", 'w-100');

            newdiv.after(newBreak1);

        }
        else if (checkForI != null) {

            var newdiv = document.getElementById("coverName");
            newdiv.innerHTML = coverButton.value.split("\\").pop();

        }

    }

    legendButton.onchange = function () {

        var checkForI = document.getElementById("legendCheckMark");

        if ((legendButton.value) != "" && (checkForI == null)) {

            var newi = document.createElement("i");
            newi.setAttribute("class", "col-1 fa-solid fa-check");
            newi.setAttribute("id", "legendCheckMark");

            var newBreak = document.createElement("div");
            newBreak.setAttribute("class", 'w-100');

            document.getElementById("legendLabel").after(newi);
            newi.after(newBreak);

            var newdiv = document.createElement("div");
            newdiv.setAttribute("class", "col-6 text-center");
            newdiv.setAttribute("id", "legendName");
            newdiv.style.fontWeight = "bold";
            newdiv.innerHTML = legendButton.value.split("\\").pop();

            newBreak.after(newdiv);

            var newBreak1 = document.createElement("div");
            newBreak1.setAttribute("class", 'w-100');

            newdiv.after(newBreak1);

        }
        else if (checkForI != null) {

            var newdiv = document.getElementById("legendName");
            newdiv.innerHTML = legendButton.value.split("\\").pop();

        }

    }




    fileButton.onchange = function () {

        var checkForI = document.getElementById("excelCheckMark");

        if ((fileButton.value) != "" && (checkForI == null)) {

            var newi = document.createElement("i");
            newi.setAttribute("class", "col-1 fa-solid fa-check");
            newi.setAttribute("id", "excelCheckMark");

            var newBreak = document.createElement("div");
            newBreak.setAttribute("class", 'w-100');

            document.getElementById("excelLabel").after(newi);
            newi.after(newBreak);

            var newdiv = document.createElement("div");
            newdiv.setAttribute("class", "col-6 text-center");
            newdiv.setAttribute("id", "excelFileName");
            newdiv.style.fontWeight = "bold";
            newdiv.innerHTML = fileButton.value.split("\\").pop();

            newBreak.after(newdiv);

            var newBreak1 = document.createElement("div");
            newBreak1.setAttribute("class", 'w-100');

            newdiv.after(newBreak1);

        }
        else if (checkForI != null) {
            var newdiv = document.getElementById("excelFileName");
            newdiv.innerHTML = fileButton.value.split("\\").pop();

        }



 }



</script>





@*@model CRESME.Data.UserQuizUnion

@{
    ViewData["Title"] = "Edit CRESME";
    var courses = Model.users.Select(x => x.Course).Distinct().Where(x => x != null).ToList();
    var terms = Model.users.Select(x => x.Term).Distinct().Where(x => x != null).ToList();

    //parse each string in courses/term separated by comma into individual strings
    //trim and return only unique elements
    List<string> UniqueCourses = courses.SelectMany(s => s.Split(',')).Select(e => e.Trim()).Distinct().ToList();
    List<string> UniqueTerms = terms.SelectMany(s => s.Split(',')).Select(e => e.Trim()).Distinct().ToList();

    // list of instructors
    var instructors = Model.users.Where(x => x.Role == "Instructor");
}



<div id="flexbox" aria-live="polite" aria-atomic="true" class="pt-5 d-flex justify-content-end align-items-end w-100">

    @if (TempData["AlertMessage"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger">
                @TempData["AlertMessage"]
            </div>
        </div>

    }

    @if (TempData["Success"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-success" style="color:white">
                @TempData["Success"]
            </div>



        </div>
    }



</div>



<form asp-controller="Admin" asp-action="InstructorUpdateQuiz" method="post" onsubmit="return confirm('Are you sure you want to EDIT this quiz data?');">
    <div class="d-flex align-items-center min-vh-100">
        <div class="container border bg-light rounded" style="width: 50%;">
            <div class="row gx-5 justify-content-center gy-2">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="w-100"></div>
                <h4 class="col-6 text-center" style="font-weight: bold;">Edit CRESME Form</h4>

                <div class="w-100"></div>
                <div class="col-10" style="height: 5px; background-color: #f1c400;"></div>

                <div class="col-6 text-center" style="font-weight: bold;">Name</div>
            
                <div class="w-100"></div>
                <input asp-for="QuizName" class="col-4 input-field" placeholder="CRESME Name" required autocomplete="off" style="background-color:#FCF5D8;" />
                <span asp-validation-for="QuizName" class="text-danger"></span>


                <div class="col-6 text-center" style="font-weight: bold;">Patient Introduction</div>
                <div class="w-100"></div>
                <input asp-for="PatientIntro" class="col-4 input-field" placeholder="Patient Introduction" required autocomplete="off" style="background-color:#FCF5D8;" />
                <span asp-validation-for="PatientIntro" class="text-danger"></span>


                <div class="col-6 text-center" style="font-weight: bold;">Authors</div>
                <div class="w-100"></div>
                <input asp-for="AuthorNames" class="col-4 input-field" placeholder="Patient Introduction" required autocomplete="off" style="background-color:#FCF5D8;" />
                <span asp-validation-for="AuthorNames" class="text-danger"></span>


                <div class="col-6 text-center" style="font-weight: bold;">Block</div>
                <div class="w-100"></div>
                <input asp-for="Block" class="col-4 input-field" placeholder="Block" required autocomplete="off" style="background-color:#FCF5D8;" />
                <span asp-validation-for="Block" class="text-danger"></span>


                <div class="col-6 text-center" style="font-weight: bold;">Course</div>
                <div class="w-100"></div>
                <input asp-for="Course" class="col-4 input-field" placeholder="Course" required autocomplete="off" style="background-color:#FCF5D8;" />
                <span asp-validation-for="Course" class="text-danger"></span>

                <div class="col-6 text-center" style="font-weight: bold;">Term</div>
                <div class="w-100"></div>
                <input asp-for="Term" class="col-4 input-field" placeholder="Term" required autocomplete="off" style="background-color:#FCF5D8;" />
                <span asp-validation-for="Term" class="text-danger"></span>

                <div class="col-6 text-center" style="font-weight: bold;">Instructor ID</div>
                <div class="w-100"></div>
                <input asp-for="InstructorID" class="col-4 input-field" placeholder="Instructor ID" required autocomplete="off" style="background-color:#FCF5D8;" />
                <span asp-validation-for="InstructorID" class="text-danger"></span>


                <div class="col-6 text-center" style="font-weight: bold;">Date Created</div>
                <div class="w-100"></div>

                <div class="w-100"></div>
                <input asp-for="DateCreated" type="datetime-local" class="col-5 input-field" style="background-color:#FCF5D8;" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>


                <div class="w-100"></div>
                <div class="col-6 text-center" style="font-weight: bold;">Start Date</div>
                

                <div class="w-100"></div>
                <input asp-for="StartDate" type="datetime-local"  class="col-5 input-field" style="background-color:#FCF5D8;"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>


                <div class="w-100"></div>
                <div class="col-6 text-center" style="font-weight: bold;">End Date</div>

                <div class="w-100"></div>
                <input asp-for="EndDate" type="datetime-local" class="col-5 input-field" style="background-color:#FCF5D8;" />
                <span asp-validation-for="EndDate" class="text-danger"></span>



                @if (Model.Published == "Yes")
                {
                    <div class="col-3" style="font-weight: bold;">Published</div>
                    <input class="col-1" type="checkbox" id="Published" name="Published" value="1" checked>
                    <div class="w-100"></div>
                }
                else
                {
                    <div class="col-3" style="font-weight: bold;">Published</div>
                    <input class="col-1" type="checkbox" id="Published" name="Published" value="1">
                    <div class="w-100"></div>
                }


                @if (Model.FeedBackEnabled == "Yes")
                {
                    <div class="col-3" style="font-weight: bold;">Feedback</div>
                    <input class="col-1" type="checkbox" id="FeedBackEnabled" name="FeedBackEnabled" value="1" checked>
                    <div class="w-100"></div>
                }
                else
                {
                    <div class="col-3" style="font-weight: bold;">Feedback</div>
                    <input class="col-1" type="checkbox" id="FeedBackEnabled" name="FeedBackEnabled" value="1">
                    <div class="w-100"></div>
                }

                @if (Model.ShuffleEnabled == "Yes")
                {
                <div class="col-3" style="font-weight: bold;">ShuffleEnabled</div>
                <input class="col-1" type="checkbox" id="ShuffleEnabled" name="ShuffleEnabled" value="1" checked>
                <div class="w-100"></div>
                }
                else
                {
                    <div class="col-3" style="font-weight: bold;">ShuffleEnabled</div>
                <input class="col-1" type="checkbox" id="ShuffleEnabled" name="ShuffleEnabled" value="1">
                <div class="w-100"></div>
                }

                 <br />

                <input type="hidden" asp-for="QuizId" />

                <input type="submit" value="Submit" class="btn custom_btn col-5" id="buyNow" />
                <div class="w-100"></div>



            </div>
        </div>
    </div>

</form>

<style>

    .container {
        border-color: #F1C400 !important;
        border-radius: 20px !important;
    }

    .custom_btn {
        background-color: #F1C400;
        font-weight: bold;
    }

    .input-field {
        border-color: #F1C400;
    }



</style>

<div>
    <a asp-action="ListUsers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        window.onload = function () {
            // your code here
            $('.toast').toast('show');
        };
    </script>
}
*@