@model IEnumerable<CRESME.Data.ApplicationUser>

@{
    ViewData["Title"] = "List Users";
}


<br />

<div class="container-fluid">

    <div class="row justify-content-start">



        <div class="dropdown col-6">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Choose Action
            </button>
            <ul class="dropdown-menu">
                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="CreateUsers">
                        <button type="submit" class="btn btn-md btn-primary">
                            <i class="fa-solid fa-square-plus"></i>
                            Create New
                        </button>
                    </form>
                </li>
                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="ExportUsersToExcel">
                        <button type="submit" class="btn btn-md btn-primary">
                            <i class="fa-solid fa-square-plus"></i>
                            Export users to Excel
                        </button>
                    </form>
                </li>
                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="DeleteAll">
                        <button onclick="return confirm('Are you sure you want to DELETE ALL the users?')" type="submit" class="btn btn-md btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete All Users
                        </button>
                    </form>
                </li>
                <li>

                    <form class="dropdown-item" asp-controller="Admin" asp-action="DeleteByTermStudentsView">
                        <button type="submit" class="btn btn-md btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete by Term (Students)
                        </button>
                    </form>

                </li>
                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="DeleteByTermInstructorView">
                        <button type="submit" class="btn btn-md btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete by Term (Instructors)
                        </button>
                    </form>
                </li>
                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="DeleteByBlockStudentsView">
                        <button type="submit" class="btn btn-md btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete by Block(Students)
                        </button>
                    </form>
                </li>
                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="DeleteByBlockInstructorView">
                        <button type="submit" class="btn btn-md btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete by Block(Instructors)
                        </button>
                    </form>

                </li>
                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="DeleteAll">
                        <button onclick="return confirm('Are you sure you want to DELETE ALL the users?')" type="submit" class="btn btn-md btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete by block
                        </button>
                    </form>
                </li>
                <li>

                    <form class="dropdown-item" asp-controller="Admin" asp-action="DeleteEntireDatabase">
                        <button onclick="return confirm('Are you sure you want to delete the ENTIRE DATABASE?')" type="submit" class="btn btn-md btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete entire database
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        



       


      












  

        @*
        <form asp-controller="Admin"  asp-action="ExportExcel">
        <button type="submit" class="btn btn-md btn-primary">
        <i class="fa-solid fa-file-arrow-down"></i>
        Export List of Users
        </button>
        </form>

        <br />*@


    </div>
</div>

<br />




    <div class="table-responsive">

    <table class="table table-hover table-bordered" id="dataTableData" width="100%" cellspacing="0">


        <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Block)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Course)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Term)
                    </th>



                    @*DO NOT delete the empty tags below, they are needed for dataTable column counts to be equal between "thead" and "tbody"*@
                    <th></th>
                    <th></th>

                    
                </tr>
            </thead>




            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Block)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Course)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Term)
                        </td>

                        


                        <td>
                            <form asp-controller="Admin"   asp-action="EditUsers" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa-solid fa-user-pen"></i>
                                    Edit
                                </button>
                            </form>
                        </td>


                        <td>
                            <form asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id" method="post" onclick="return confirm('Are you sure you want to DELETE this user?')">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Delete
                                </button>
                            </form>
                        </td>



                    </tr>
                }

            </tbody>

        </table>

    </div>

@*</div>*@

<style>

    #dataTableData {
        color: black;
        border-style: solid;
        border-color: #F1C400;
    }

    td {
        color: black;
        font-weight: bold;
    }

    th {
        color: black;
        font-weight: bold;
    }

</style>


@section scripts
{
    <script src="~/js/datatable_file.js"></script>
}
