@model IEnumerable<CRESME.Data.Quiz>

@{
    ViewData["Title"] = "CRESMES";
}


<br />


<div id="flexbox" aria-live="polite" aria-atomic="true" class="pt-5 d-flex justify-content-end align-items-end w-100">

    @if (TempData["AlertMessage"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger">
                @TempData["AlertMessage"]
            </div>
        </div>

    }

    @if (TempData["Success"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-success" style="color:white">
                @TempData["Success"]
            </div>

        

        </div>
    }



</div>


<div class="container-fluid">
    <div class="row justify-content-start">

        <div class="dropdown col-6">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Choose Action
            </button>
            <ul class="dropdown-menu">
                <li>
                    <form class="dropdown-item" asp-controller="Quiz" asp-action="CreateQuiz">
                        <button type="submit" class="btn btn-md btn-primary">
                            <i class="fa-solid fa-square-plus"></i>
                            Create New CRESME
                        </button>
                    </form>
                </li>
                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="ExportQuizesToExcel">
                        <button type="submit" class="btn btn-md btn-primary">
                            <i class="fa-solid fa-file-arrow-down"></i>
                           Export All CRESMES
                        </button>
                    </form>
                </li>

                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="ExportAllAttempts">
                        <button type="submit" class="btn btn-md btn-primary">
                            <i class="fa-solid fa-file-arrow-down"></i>
                            Export All Attempts
                        </button>
                    </form>
                </li>


                <li>
                    <form class="dropdown-item" asp-controller="Admin" asp-action="DeleteAllQuizes">
                        <button onclick="return confirm('Are you sure you want to DELETE ALL the quizes PERMANENTLY?')" type="submit" class="btn btn-md btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete All Quizes
                        </button>
                    </form>
                </li>

                



            </ul>
        </div>
       
    </div>

</div>

<br />

    <div class="table-responsive">

    <table class="table table-bordered table-secondary table-hover table-sm" id="dataTableData" width="100%" cellspacing="0" style="margin-bottom:50px;">


        <thead>
                <tr>
                    <th scope="col" class="table-dark">
                    CRESME ID
                    </th>

                    <th scope="col" class="table-dark">
                    CRESME
                    </th>

                    <th scope="col" class="table-dark">
                        @Html.DisplayNameFor(model => model.Block)
                    </th>

                    <th scope="col" class="table-dark">
                        @Html.DisplayNameFor(model => model.Course)
                    </th>

                    <th scope="col" class="table-dark">
                        @Html.DisplayNameFor(model => model.Term)
                    </th>

                    <th scope="col" class="table-dark">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>

                    <th scope="col" class="table-dark">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>

                    <th scope="col" class="table-dark">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>

                    <th scope="col" class="table-dark">
                        @Html.DisplayNameFor(model => model.ShuffleEnabled)
                    </th>

                    <th scope="col" class="table-dark">
                        @Html.DisplayNameFor(model => model.Published)
                    </th>

                    <th scope="col" class="table-dark">
                        Feedback
                    </th>




                    <th scope="col" class="table-dark">

                        Assigned
                    </th>

                    



                    @*DO NOT delete the empty tags below, they are needed for dataTable column counts to be equal between "thead" and "tbody"*@
                    <th scope="col" class="table-dark">
                    <th scope="col" class="table-dark">
                    <th scope="col" class="table-dark">
                    

                    
                </tr>
            </thead>




            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.QuizId)
                        </td>

                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.QuizName)
                        </td>

                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.Block)
                        </td>
                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.Course)
                        </td>

                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.Term)
                        </td>

                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>

                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>

                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>

                        <td class="table-secondary">
                            @Html.DisplayFor(modelItem => item.ShuffleEnabled)
                        </td>
                        

                        <td class="table-secondary">
                        
                        @if (item.Published == "Yes")
                            {
                            <i class="fa-solid fa-circle-check fa-2xl" style="color: #03ba00;"></i>
                            }
                            else
                            {
                            <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #ff0000;"></i>
                            }
                        </td>

                    <td class="table-secondary">

                        @if (item.FeedBackEnabled == "Yes")
                        {
                            <i class="fa-solid fa-circle-check fa-2xl" style="color: #03ba00;"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #ff0000;"></i>
                        }
                    </td>



                    <td class="table-secondary">

                        @if (item.InstructorID != "N/A")
                        {
                            <i class="fa-solid fa-circle-check fa-2xl" style="color: #03ba00;"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #ff0000;"></i>
                        }
                    </td>





                    <td>

                        <form asp-controller="Admin" asp-action="QuizDetails" asp-route-QuizName="@item.QuizName" method="post">
                            <button type="submit" class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-circle-info" style="color: #000000;"></i>
                                Details
                            </button>
                        </form>
                    </td>




                    <td class="table-secondary">
                        <form asp-controller="Admin" asp-action="InstructorEditQuiz" asp-route-QuizId="@item.QuizId">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa-solid fa-user-pen"></i>
                                    Edit
                                </button>
                            </form>
                        </td>


                    <td class="table-secondary">
                        <form asp-controller="Admin" asp-action="DeleteQuiz" asp-route-QuizId="@item.QuizId" method="post" onclick="return confirm('Are you sure you want to DELETE this quiz?')">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Delete
                                </button>
                            </form>
                        </td>



                    </tr>
                }

            </tbody>

        </table>

    </div>




<style>

    .table-bordered th, .table-bordered td {
        border: 1px solid grey !important
    }

</style>



@section scripts
{
    <script src="~/js/datatable_file.js"></script>

    <script>

        window.onload = function () {
            // your code here
            $('.toast').toast('show');
        };
    </script>
}
