@model IEnumerable<CRESME.Data.ApplicationUser>

@{
    ViewData["Title"] = "List Users";
}

<h1>List all Users</h1>


<form asp-action="CreateUsers">
    <button type="submit" class="btn btn-md btn-primary">
        <i class="fa-solid fa-trash-can"></i>
       Create New
    </button>
</form>


<br />



<form asp-action="DeleteAll" onclick="return confirm('Are you sure you want to DELETE ALL the users?')">
                                <button type="submit" class="btn btn-md btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                                    Delete All Users
                                </button>
</form>
<br />
<br />
<br />


@*<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
                    
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            
                
                <td>
                    <form asp-action="EditUsers" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa-solid fa-user-pen"></i>
                            Edit 
                        </button>
                    </form>
                </td>


                    <td>
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" onclick="return confirm('Are you sure you want to DELETE this user?')">
                                <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                                    Delete
                                </button>
                            </form>
                    </td>


            
        </tr>
}
    </tbody>
</table>*@

@*<div class="card-body">*@

    <div class="table-responsive">

        <table class="table table-bordered" id="dataTableData" width="100%" cellspacing="0">


            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>


                    @*DO NOT delete the empty tags below, they are needed for dataTable counts to be equal between "thead" and "tbody"*@
                    <th></th>
                    <th></th>

                    
                </tr>
            </thead>




            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>


                        <td>
                            <form asp-action="EditUsers" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa-solid fa-user-pen"></i>
                                    Edit
                                </button>
                            </form>
                        </td>


                        <td>
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post" onclick="return confirm('Are you sure you want to DELETE this user?')">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Delete
                                </button>
                            </form>
                        </td>



                    </tr>
                }

            </tbody>

        </table>

    </div>

@*</div>*@



@section scripts
{
    <script src="~/js/datatable_file.js"></script>
}
