@model IEnumerable<CRESME.Data.ApplicationUser>

@{
    ViewData["Title"] = "List Users";
}

<h1>List all Users</h1>

<p>
    <a asp-action="CreateUsers">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
                    
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @*<a asp-asp-controller="Admin"  asp-action="EditUsers" asp-route-id="@item.UserName">Edit Users</a> *@
                <a asp-action="EditUsers" asp-route-id="@item.Id">Edit</a> 
                @*<a asp-action="Details" asp-route-id="@item.Course">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Course">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
